# Data Types

In [1]:
import numpy as np
import pandas as pd

## 1. List
extend, index, pop

In [2]:
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

baby_names.extend(['Rowen','Sandeep'])
print(baby_names)

# Find the position & pop
position = baby_names.index('Aliza')
baby_names.pop(position)
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [3]:
sorted(baby_names)

['Ayden', 'Calvin', 'Rowen', 'Sandeep', 'Ximena']

## 2. Tuple

In [4]:
girl_names = ['Olivia','RACHEL','HAILEY','Brielle','Samantha']
boy_names = ['Ryan','Joshua','ETHAN','KEVIN','Samuel']

pairs = zip(girl_names, boy_names)

print(pairs)

<zip object at 0x000001CB122FB588>

In [5]:
for idx, pair in enumerate(pairs):
    # Unpack pair
    girl_name, boy_name = pair
    print('{}: {} and {}'.format(idx, girl_name, boy_name))

0: Olivia and Ryan
1: RACHEL and Joshua
2: HAILEY and ETHAN
3: Brielle and KEVIN
4: Samantha and Samuel

## 3. Set

In [6]:
df_name = pd.read_csv('data/baby_names.csv')

df_name_2011 = df_name[(df_name.BRITH_YEAR == 2011) & (df_name.GENDER == 'FEMALE')]
df_name_2012 = df_name[(df_name.BRITH_YEAR == 2012) & (df_name.GENDER == 'FEMALE')]

print(df_name_2011.head())

print(df_name_2011.shape)
print(df_name_2012.shape)

   BRITH_YEAR  GENDER  ETHNICTY       NAME  COUNT  RANK
0        2011  FEMALE  HISPANIC  GERALDINE     13    75
1        2011  FEMALE  HISPANIC        GIA     21    67
2        2011  FEMALE  HISPANIC     GIANNA     49    42
3        2011  FEMALE  HISPANIC    GISELLE     38    51
4        2011  FEMALE  HISPANIC      GRACE     36    53
(4016, 6)
(1023, 6)

In [7]:
baby_names_2011 = set()
for row in np.array(df_name_2011):
    baby_names_2011.add((row[3], row[5]))   # name, rank
    
baby_names_2012 = set()
for row in np.array(df_name_2012):
    baby_names_2012.add((row[3], row[5]))
    
all_names = baby_names_2011.union(baby_names_2012)

diff_names = baby_names_2011.difference(baby_names_2012)

overlap_names = baby_names_2011.intersection(baby_names_2012)
print(overlap_names)

{('ARIELLA', 65), ('SLOANE', 74), ('ARIANA', 64), ('AVA', 8), ('KAYLEE', 28), ('OLIVIA', 4), ('STEPHANIE', 41), ('ALONDRA', 72), ('ROSA', 78), ('LILY', 33), ('KATE', 38), ('IRIS', 78), ('ALEXA', 40), ('LAILA', 59), ('AMANDA', 76), ('SOPHIA', 4), ('CHLOE', 4), ('HARMONY', 35), ('GABRIELLE', 76), ('JAZMINE', 74), ('LONDON', 2), ('ABIGAIL', 19), ('MELANIE', 12), ('KATIE', 76), ('MORGAN', 71), ('AUBREY', 63), ('VIVIANA', 77), ('AUTUMN', 29), ('HAILEY', 57), ('IVY', 76), ('ANGIE', 69), ('AMY', 80), ('SAVANNA', 78), ('MADELYN', 72), ('YAEL', 70), ('ANGELINA', 44), ('STELLA', 32), ('AMIRA', 80), ('EDEN', 67), ('JULIETTE', 68), ('MADISON', 1), ('ANAYA', 43), ('KIRA', 80), ('CHARLOTTE', 77), ('VICTORIA', 19), ('ALEXANDRA', 43), ('ELIANA', 55), ('ISABELLA', 6), ('MARILYN', 78), ('MARIAMA', 33), ('EMMA', 5), ('JULIA', 45), ('ZOE', 23), ('JULIET', 55), ('DESTINY', 20), ('ALESSIA', 77), ('ISABELLA', 1), ('ALISSON', 73), ('AVIGAIL', 80)}

## 4. Dictionary

In [8]:
names_2011 = {}
names_2012 = {}

# Loop over the girl names
for name, rank in baby_names_2011:
    # Add each name to the names dictionary using rank as the key
    names_2011[rank] = name

for name, rank in baby_names_2012:
    names_2012[rank] = name

# Sort the names list by rank in descending order and slice the first 10 items
for rank in sorted(names_2012, reverse=True)[:10]:
    print(rank, names_2012[rank])

83 LIV
82 LYLA
81 ESTY
80 LILAH
79 ANAIS
78 MARILYN
77 AMINA
76 RIHANNA
75 JULIANA
74 NATALY

In [9]:
# Safely finding by key

print(names_2012.get(1))

print(type(names_2012.get(100)))  # None
print(names_2012.get(100, 'Not Found'))

ISABELLA
<class 'NoneType'>
Not Found

In [10]:
# nested dictionary
girl_names = {}

girl_names[2011] = names_2011
girl_names[2012] = names_2012
girl_names[2013] = {}

print(girl_names.keys())
print(girl_names[2011].keys())

dict_keys([2011, 2012, 2013])
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81])

In [11]:
girl_names[2013].update([(1, 'Kate'), (2, 'Elsa'), (3, 'Jessica')])
print(girl_names[2013])

{1: 'Kate', 2: 'Elsa', 3: 'Jessica'}

In [12]:
for year in girl_names:
    for rank in sorted(girl_names[year], reverse=True)[:1]:
        # Check that you have a rank
        if not rank:
            print(year, 'No Data Available')
            
        # Safely print the year and the least popular name or 'Not Available'
        print(year, girl_names[year].get(rank,'Not Available'))

2011 CORA
2012 LIV
2013 Jessica

In [13]:
# Working with dictionaries more pythonically
for rank, name in girl_names[2013].items():
    print(rank, name)

1 Kate
2 Elsa
3 Jessica

In [14]:
# Checking dictionaries for data

if 2011 in girl_names:
    print('Found 2011')
    
# Check to see if rank 1 is in 2012
if 1 in girl_names[2012]:
    print('Found Rank 1 in 2012')
else:
    print('Rank 1 missing from 2012')

Found 2011
Found Rank 1 in 2012

### CSV reader / DictReader

In [15]:
import csv

baby_names = {}
csvfile = open('data/baby_names.csv','r')

In [16]:
# CSV reader
reader = csv.reader(csvfile)
next(reader, None)  # skip the headers

for row in reader:
    baby_names[row[5]] = row[3]    # row = ['2011', 'FEMALE', 'HISPANIC', 'GIA', '21', '67']

print(baby_names.keys())

dict_keys(['49', '70', '54', '71', '84', '12', '22', '72', '47', '99', '61', '17', '14', '20', '23', '82', '6', '27', '75', '21', '66', '44', '50', '40', '13', '63', '42', '8', '1', '90', '45', '32', '98', '33', '41', '39', '89', '28', '62', '46', '97', '101', '86', '69', '64', '15', '80', '56', '10', '29', '18', '73', '60', '19', '48', '24', '11', '57', '37', '36', '91', '35', '74', '26', '81', '34', '4', '7', '68', '3', '96', '77', '16', '9', '93', '59', '30', '65', '76', '94', '25', '43', '31', '87', '5', '2', '92', '51', '79', '38', '58', '85', '100', '67', '55', '88', '95', '78', '83', '53', '52', '102'])

In [17]:
# CSV DictReader
for row in csv.DictReader(csvfile):
    baby_names[row['RANK']] = row['NAME']    # row = dictionary

print(baby_names.keys())

dict_keys(['49', '70', '54', '71', '84', '12', '22', '72', '47', '99', '61', '17', '14', '20', '23', '82', '6', '27', '75', '21', '66', '44', '50', '40', '13', '63', '42', '8', '1', '90', '45', '32', '98', '33', '41', '39', '89', '28', '62', '46', '97', '101', '86', '69', '64', '15', '80', '56', '10', '29', '18', '73', '60', '19', '48', '24', '11', '57', '37', '36', '91', '35', '74', '26', '81', '34', '4', '7', '68', '3', '96', '77', '16', '9', '93', '59', '30', '65', '76', '94', '25', '43', '31', '87', '5', '2', '92', '51', '79', '38', '58', '85', '100', '67', '55', '88', '95', '78', '83', '53', '52', '102'])

# 5. collections module

In [18]:
from collections import Counter

In [19]:
df_sta = pd.read_csv('data/cta_daily_station_totals.csv')
df_sta.head()

   station_id         stationname        date         daytype  rides
0       40010  Austin-Forest Park  01/01/2015  SUNDAY/HOLIDAY    587
1       40010  Austin-Forest Park  01/02/2015         WEEKDAY   1386
2       40010  Austin-Forest Park  01/03/2015        SATURDAY    785
3       40010  Austin-Forest Park  01/04/2015  SUNDAY/HOLIDAY    625
4       40010  Austin-Forest Park  01/05/2015         WEEKDAY   1752

In [20]:
stations = df_sta.stationname.unique()   # unique of column items
len(stations)

144

In [21]:
station_count = Counter(df_sta.stationname)
print(station_count)

Counter({'Ashland-Lake': 700, 'Damen-Cermak': 700, 'California-Lake': 700, 'Harrison': 700, 'Linden': 700, 'Conservatory': 700, 'East 63rd-Cottage Grove': 700, 'Halsted/63rd': 700, 'Cicero-Cermak': 700, 'Chicago/Milwaukee': 700, 'Western-Orange': 700, 'Morgan-Lake': 700, 'Kedzie-Cermak': 700, 'Grand/Milwaukee': 700, 'Ridgeland': 700, 'Halsted-Orange': 700, 'Clinton-Forest Park': 700, 'Adams/Wabash': 700, 'Wilson': 700, '79th': 700, 'Cumberland': 700, 'Grand/State': 700, 'Rosemont': 700, '69th': 700, 'Addison-Brown': 700, 'Indiana': 700, 'Cicero-Forest Park': 700, 'Kostner': 700, 'Kedzie-Brown': 700, 'Main': 700, 'Clark/Lake': 700, 'Garfield-Dan Ryan': 700, 'Lawrence': 700, 'Ashland/63rd': 700, 'Irving Park-Brown': 700, '47th-South Elevated': 700, 'Fullerton': 700, 'Paulina': 700, 'Division/Milwaukee': 700, 'Jackson/Dearborn': 700, 'Oakton-Skokie': 700, 'LaSalle': 700, 'Cermak-McCormick Place': 700, 'Wellington': 700, 'Pulaski-Lake': 700, 'Washington/Wells': 700, 'Western-Forest Park': 700, 'Dempster': 700, 'Southport': 700, 'Jefferson Park': 700, 'Argyle': 700, 'Central Park': 700, 'Kedzie-Lake': 700, 'Sox-35th-Dan Ryan': 700, '47th-Dan Ryan': 700, 'Pulaski-Orange': 700, 'Jarvis': 700, "Belmont-O'Hare": 700, 'Austin-Lake': 700, 'LaSalle/Van Buren': 700, 'California-Cermak': 700, 'North/Clybourn': 700, 'Austin-Forest Park': 700, 'Diversey': 700, 'Harlem-Lake': 700, 'King Drive': 700, 'Kedzie-Midway': 700, '18th': 700, "Addison-O'Hare": 700, 'Monroe/Dearborn': 700, 'Forest Park': 700, 'Kimball': 700, "Harlem-O'Hare": 700, 'Ashland-Orange': 700, 'UIC-Halsted': 700, 'Jackson/State': 700, 'Clinton-Lake': 700, 'Rockwell': 700, 'Morse': 700, 'Washington/Dearborn': 700, "Montrose-O'Hare": 700, 'Kedzie-Homan-Forest Park': 700, 'Midway Airport': 700, 'South Boulevard': 700, "Irving Park-O'Hare": 700, 'State/Lake': 700, 'Western-Cermak': 700, 'Oak Park-Lake': 700, 'Oak Park-Forest Park': 700, 'Bryn Mawr': 700, 'Thorndale': 700, 'Harlem-Forest Park': 700, 'Howard': 700, 'Foster': 700, 'California/Milwaukee': 700, 'Central-Evanston': 700, 'Montrose-Brown': 700, 'Cermak-Chinatown': 700, 'Medical Center': 700, 'Library': 700, '43rd': 700, 'Sheridan': 700, '95th/Dan Ryan': 700, 'Noyes': 700, '51st': 700, 'Monroe/State': 700, 'Cicero-Lake': 700, 'Dempster-Skokie': 700, 'Berwyn': 700, '35th/Archer': 700, 'Western-Brown': 700, '63rd-Dan Ryan': 700, 'Merchandise Mart': 700, 'Lake/State': 700, 'Quincy/Wells': 700, 'Francisco': 700, 'Sedgwick': 700, 'Garfield-South Elevated': 700, 'Addison-North Main': 700, 'Racine': 700, 'Chicago/State': 700, '35-Bronzeville-IIT': 700, 'Madison/Wabash': 700, 'Belmont-North Main': 700, 'Chicago/Franklin': 700, 'Randolph/Wabash': 700, 'Roosevelt': 700, 'Clark/Division': 700, 'Granville': 700, 'Damen/Milwaukee': 700, 'Pulaski-Forest Park': 700, 'Central-Lake': 700, 'Armitage': 700, '87th': 700, "O'Hare Airport": 700, 'Western/Milwaukee': 700, 'Laramie': 700, 'Damen-Brown': 700, 'Loyola': 700, 'Davis': 700, 'Polk': 700, '54th/Cermak': 700, 'Logan Square': 700, 'Pulaski-Cermak': 700})

In [22]:
# Finding most common elements
print(station_count.most_common(5))

[('Ashland-Lake', 700), ('Damen-Cermak', 700), ('California-Lake', 700), ('Harrison', 700), ('Linden', 700)]

In [23]:
entries = np.array(df_sta[['date','stationname','rides']])[:1000]
entries.shape

(1000, 3)

In [24]:
# defaultdict()
# dictionary에 기본값을 정의해 키값이 없더라도 에러를 출력하지않고 기본값을 출력한다.
from collections import defaultdict

In [25]:
# Create a defaultdict with a default type of list: ridership
ridership = defaultdict(list)

for date, stop, riders in entries:
    # Use the stop as the key of ridership and append the riders to its value
    ridership[date].append((stop, riders))

In [26]:
print(list(ridership.items())[:1])

[('01/31/2015', [('Austin-Forest Park', 953), ('Harlem-Lake', 2311), ('Pulaski-Lake', 1187), ('Quincy/Wells', 1390), ('Davis', 2766), ("Belmont-O'Hare", 3197), ('Jackson/Dearborn', 2738), ('Sheridan', 3563), ('Damen-Brown', 1399), ('Morse', 3559), ('35th/Archer', 1423), ('51st', 634), ('Dempster-Skokie', 869), ('Pulaski-Cermak', 812), ('LaSalle/Van Buren', 507), ('Ashland-Lake', 1225), ('Oak Park-Forest Park', 641), ('Sox-35th-Dan Ryan', 3172), ('Randolph/Wabash', 3700), ('Damen-Cermak', 922), ('Western-Forest Park', 1105), ('Cumberland', 1666), ('79th', 5170), ('Kedzie-Homan-Forest Park', 1634), ('State/Lake', 5401), ('Main', 944), ('Central-Lake', 1567), ('Ashland/63rd', 816), ('Indiana', 435), ('Western-Orange', 1834), ('Division/Milwaukee', 3372), ('Grand/State', 7804)])]

In [27]:
# OrderedDictionaries
from collections import OrderedDict

In [28]:
ridership_date = OrderedDict()

for date, stop, riders in entries:
    # If a key does not exist in ridership_date, set it to 0
    if not date in ridership_date:
        ridership_date[date] = 0
        continue
        
    # Add riders to the date key in ridership_date
    ridership_date[date] += riders
    
print(list(ridership_date.items())[:20])

[('01/01/2015', 52453), ('01/02/2015', 94310), ('01/03/2015', 58621), ('01/04/2015', 46778), ('01/05/2015', 113876), ('01/06/2015', 117591), ('01/07/2015', 87687), ('01/08/2015', 100296), ('01/09/2015', 108958), ('01/10/2015', 57727), ('01/11/2015', 46049), ('01/12/2015', 123425), ('01/13/2015', 124727), ('01/14/2015', 124723), ('01/15/2015', 127371), ('01/16/2015', 125892), ('01/17/2015', 69142), ('01/18/2015', 50461), ('01/19/2015', 83803), ('01/20/2015', 126402)]

# 6. DateTimes

In [29]:
from datetime import datetime
from datetime import timedelta

In [30]:
local_dt = datetime.now()
print(local_dt)

# Compute the UTC datetime
utc_dt = datetime.utcnow()
print(utc_dt)

# Finding a time in the future and from the past
glanceback = timedelta(days=30)
print(local_dt - glanceback)
print(local_dt + glanceback)

2019-02-19 20:01:51.167632
2019-02-19 11:01:51.167632
2019-01-20 20:01:51.167632
2019-03-21 20:01:51.167632

In [31]:
for date_str in entries[:5]:
    # Convert each date to a datetime object
    date_obj  = datetime.strptime(date_str[0], '%m/%d/%Y')
    print(date_obj)
    
    # Convert to string
    print(datetime.strftime(date_obj, '%m/%d/%Y'))
    
    print(datetime.isoformat(date_obj))    # ISO standard string
    print()

2015-01-01 00:00:00
01/01/2015
2015-01-01T00:00:00

2015-01-02 00:00:00
01/02/2015
2015-01-02T00:00:00

2015-01-03 00:00:00
01/03/2015
2015-01-03T00:00:00

2015-01-04 00:00:00
01/04/2015
2015-01-04T00:00:00

2015-01-05 00:00:00
01/05/2015
2015-01-05T00:00:00

In [32]:
# Summary as the month, year, day

monthly_total_rides = defaultdict(int)

for date, stop, riders in entries:
    service_datetime = datetime.strptime(date, '%m/%d/%Y')

    # Add the total rides to the current amount for the month
    monthly_total_rides[service_datetime.month] += int(riders)
    
print(monthly_total_rides)

defaultdict(<class 'int'>, {1: 3079348})

# Excercise

In [33]:
csvfile = open('data/chicago_crime.csv', 'r')

crime_data = []

for row in csv.reader(csvfile):
    # Append the date, type of crime, location description, and arrest
    crime_data.append((row[0], row[2], row[4], row[5]))
    
# Remove the first element from crime_data
crime_data.pop(0)

('Date', 'Primary Type', 'Location Description', 'Arrest')

In [34]:
crimes_by_month = Counter()

for data in crime_data:
    
    # Convert to datetimes
    date = datetime.strptime(data[0], '%m/%d/%Y %I:%M:%S %p')
    
    # count by month
    crimes_by_month[date.month] += 1
    
# most common months for crime
print(crimes_by_month.most_common(3))

[(1, 1948), (2, 1862), (7, 1257)]

In [35]:
# locations by month
locations_by_month = defaultdict(list)

for row in crime_data:
    date = datetime.strptime(row[0], '%m/%d/%Y %I:%M:%S %p')
    
    # If the year is 2016 
    if date.year == 2016:
        # Set the dictionary key to the month and add the location
        locations_by_month[date.month].append(row[2])
    
print(locations_by_month[12][:10])

['APARTMENT', 'STREET', 'RESIDENCE', 'CONSTRUCTION SITE', 'APARTMENT', 'STREET', 'VEHICLE NON-COMMERCIAL', 'STREET', 'APARTMENT', 'STREET']

In [36]:
# Find the Most Common Crimes by Location Type by Month in 2016
for month, locations in locations_by_month.items():    
    location_count = Counter(locations)
    print(month, location_count.most_common(5))

1 [('STREET', 196), ('RESIDENCE', 160), ('APARTMENT', 153), ('SIDEWALK', 72), ('PARKING LOT/GARAGE(NON.RESID.)', 43)]
2 [('STREET', 188), ('RESIDENCE', 159), ('APARTMENT', 144), ('SIDEWALK', 73), ('OTHER', 40)]
3 [('STREET', 240), ('RESIDENCE', 190), ('APARTMENT', 139), ('SIDEWALK', 99), ('OTHER', 52)]
4 [('STREET', 213), ('RESIDENCE', 171), ('APARTMENT', 152), ('SIDEWALK', 96), ('OTHER', 40)]
5 [('STREET', 241), ('RESIDENCE', 175), ('APARTMENT', 128), ('SIDEWALK', 111), ('OTHER', 41)]
6 [('STREET', 245), ('RESIDENCE', 164), ('APARTMENT', 159), ('SIDEWALK', 123), ('PARKING LOT/GARAGE(NON.RESID.)', 44)]
7 [('STREET', 309), ('RESIDENCE', 177), ('APARTMENT', 166), ('SIDEWALK', 125), ('PARKING LOT/GARAGE(NON.RESID.)', 47)]
8 [('STREET', 280), ('RESIDENCE', 199), ('APARTMENT', 144), ('SIDEWALK', 109), ('OTHER', 47)]
9 [('STREET', 279), ('RESIDENCE', 183), ('APARTMENT', 144), ('SIDEWALK', 121), ('OTHER', 39)]
10 [('STREET', 248), ('RESIDENCE', 206), ('APARTMENT', 122), ('SIDEWALK', 92), ('OTHER', 62)]
11 [('STREET', 236), ('RESIDENCE', 182), ('APARTMENT', 154), ('SIDEWALK', 75), ('OTHER', 41)]
12 [('STREET', 207), ('RESIDENCE', 158), ('APARTMENT', 136), ('OTHER', 47), ('SIDEWALK', 46)]

In [37]:
# crimes by district
csvfile = open('data/chicago_crime.csv', 'r')

crimes_by_district = defaultdict(list)

for row in csv.DictReader(csvfile):
    # Pop the district from each row
    district = row.pop('District')
    
    # Append the rest of the data to the list for proper district in crimes_by_district
    crimes_by_district[district].append(row)
    
print(crimes_by_district.keys())

dict_keys(['11', '25', '8', '24', '1', '31', '7', '19', '18', '5', '17', '12', '3', '2', '14', '20', '4', '22', '6', '16', '15', '9', '10'])

In [38]:
print(crimes_by_district['25'][:5])

[{'Location Description': 'RESIDENCE-GARAGE', 'Date': '02/15/2016 04:45:00 AM', 'Arrest': 'false', 'Primary Type': 'BURGLARY', 'Domestic': 'false', 'Block': '029XX N LOTUS AVE', 'Description': 'FORCIBLE ENTRY'}, {'Location Description': 'SCHOOL, PUBLIC, BUILDING', 'Date': '02/13/2017 10:45:00 AM', 'Arrest': 'false', 'Primary Type': 'CRIMINAL DAMAGE', 'Domestic': 'false', 'Block': '014XX N LEAMINGTON AVE', 'Description': 'TO PROPERTY'}, {'Location Description': 'APARTMENT', 'Date': '07/17/2016 11:25:00 AM', 'Arrest': 'false', 'Primary Type': 'CRIMINAL DAMAGE', 'Domestic': 'false', 'Block': '049XX W ST PAUL AVE', 'Description': 'TO PROPERTY'}, {'Location Description': 'APARTMENT', 'Date': '02/05/2017 05:30:00 AM', 'Arrest': 'true', 'Primary Type': 'BATTERY', 'Domestic': 'true', 'Block': '051XX W DIVERSEY AVE', 'Description': 'DOMESTIC BATTERY SIMPLE'}, {'Location Description': 'RESIDENTIAL YARD (FRONT/BACK)', 'Date': '11/07/2016 10:30:00 AM', 'Arrest': 'false', 'Primary Type': 'THEFT', 'Domestic': 'false', 'Block': '048XX W ALTGELD ST', 'Description': '$500 AND UNDER'}]

In [39]:
# Arrest count by District by Year
for district, crimes in crimes_by_district.items():
    year_count = Counter()

    for crime in crimes:
        # If there was an arrest
        if crime['Arrest'] == 'true':
            year = datetime.strptime(crime['Date'], '%m/%d/%Y %I:%M:%S %p').year
            year_count[year] += 1
            
    print(district, year_count)

11 Counter({2016: 275, 2017: 53})
25 Counter({2016: 150, 2017: 26})
8 Counter({2016: 124, 2017: 26})
24 Counter({2016: 51, 2017: 10})
1 Counter({2016: 124, 2017: 15})
31 Counter({2016: 1})
7 Counter({2016: 181, 2017: 27})
19 Counter({2016: 88, 2017: 11})
18 Counter({2016: 92, 2017: 17})
5 Counter({2016: 149, 2017: 30})
17 Counter({2016: 38, 2017: 5})
12 Counter({2016: 72, 2017: 9})
3 Counter({2016: 98, 2017: 18})
2 Counter({2016: 84, 2017: 15})
14 Counter({2016: 59, 2017: 8})
20 Counter({2016: 27, 2017: 8})
4 Counter({2016: 134, 2017: 15})
22 Counter({2016: 78, 2017: 12})
6 Counter({2016: 157, 2017: 32})
16 Counter({2016: 66, 2017: 9})
15 Counter({2016: 154, 2017: 16})
9 Counter({2016: 116, 2017: 17})
10 Counter({2016: 144, 2017: 20})

In [40]:
csvfile = open('data/chicago_crime.csv', 'r')

crimes_by_block = defaultdict(list)

for row in csv.DictReader(csvfile):
    crimes_by_block[row['Block']].append(row['Primary Type'])
    
print(len(crimes_by_block.keys()))

9195

In [41]:
n_state_st_crimes = set(crimes_by_block['001XX N STATE ST'])
print(n_state_st_crimes)

w_terminal_st_crimes = set(crimes_by_block['0000X W TERMINAL ST'])
print(w_terminal_st_crimes)

# Find the differences
crime_differences = n_state_st_crimes.difference(w_terminal_st_crimes)
print(crime_differences)

{'CRIMINAL TRESPASS', 'ROBBERY', 'CRIMINAL DAMAGE', 'DECEPTIVE PRACTICE', 'OTHER OFFENSE', 'THEFT', 'BATTERY', 'ASSAULT'}
{'PUBLIC PEACE VIOLATION', 'CRIMINAL TRESPASS', 'OTHER OFFENSE', 'CRIMINAL DAMAGE', 'DECEPTIVE PRACTICE', 'THEFT', 'NARCOTICS', 'ASSAULT'}
{'BATTERY', 'ROBBERY'}